* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #d9cbcb85;
}

/*..................... PRIMERA CAJA .....................*/


.contenedor {
    width: 100%;
    justify-items: center;
    justify-content: center;
    align-items:center;
    height: 100vh;
    display: grid;
    grid-template-columns: 500px 500px;
}

.contenedor figure {
    position: relative;
    height: 250px;
    cursor: pointer;
    width: 350px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 16px 25px rgba(0, 0, 0, 0.6);
}

.contenedor figure img {
    width: 500px;
    height: 100%;
    transition: all .4s ease-out;
    object-fit: cover;
}

.contenedor figure img[src="img/ciudad.jpg"] {
    transition: all 1s ease;
}

.contenedor figure img[src="img/ciudad.jpg"]:hover {
    transform: translateX(-30%);
    filter: brightness(80%);
}


/*..................... SEGUNDA CAJA .....................*/


.contenedor figure .capa {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(123, 0, 0, 0.76);
    transition: all 400ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.contenedor figure .capa h3 {
    color: #fff;
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 400ms ease-out;
    margin-top: 30px;
}

.contenedor figure .capa p {
    color: #fff;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin: auto;
}

.contenedor figure:hover>.capa {
    opacity: 1;
    visibility: visible;
}

.contenedor figure:hover>.capa h3 {
    margin-top: 70px;
    margin-bottom: 15px;
}

.contenedor figure:hover>img {
    transform: scale(1.3);
}


/*..................... TERCERA CAJA .....................*/


.contenedor figure .capa1 {
    position: absolute;
    top: 0;
    width: 350px;
    height: 100%;
    background: rgba(40, 100, 89, 0.76);
    transition: all .4s ease-out;
    opacity: 0;
    visibility: hidden;
}

.contenedor figure .capa1 h3 {
    position: absolute;
    color: #fff;
    font-weight: 400;
    transition: all .4s ease-out;
    top: 60px;
    left: 0px;
}

.contenedor figure .capa1 p {
    color: #fff;
    text-align: center;
    position: absolute;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    right: 0;
    bottom: 50px;
    transition: all .4s ease-out;

}

.contenedor figure:hover > .capa1 {
    opacity: 1;
    visibility: visible;
}

.contenedor figure:hover > .capa1 h3 {
    left: calc(50% - (80.1px / 2));
}

.contenedor figure:hover > .capa1 p{
    text-align: center;
    right: calc(50% - (220px / 2));
}

.contenedor figure:hover > img {
    transform: scale(1.3);
}


/*..................... CUARTA CAJA .....................*/


.contenedor figure .capa2 {
    position: absolute;
    bottom: -250px;
    width: 350px;
    height: 50%;
    background: rgba(13, 6, 21, 0.48);
    transition: all .6s ease-out;
    opacity: 0;
    visibility: hidden;
}

.contenedor figure .capa2 h3 {
    position: absolute;
    color: #fff;
    font-weight: 400;
    transition: all .4s ease-out;
    top: 15px;
    left: calc(50% - (69.6833px / 2));
}

.contenedor figure .capa2 p {
    color: #fff;
    text-align: center;
    position: absolute;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    left: calc(50% - (220px / 2));
    bottom: 15px;
    transition: all .4s ease-out;

}

.contenedor figure:hover>.capa2 {
    opacity: 1;
    visibility: visible;
    bottom: 0;
}